[[source]]
url = "http://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[packages]
PyQt5 = "*"
Qtazu = "*"
Pytest = "*"
Pytest-qt = "*"

[dev-packages]
pyqt-distutils = "*"
PyInstaller = "*"
Sphinx = "*"
sphinx_rtd_theme = "*"
flake8 = "*"
black = "*"

[dev-packages.e1839a8]
path = "."
editable = true
